body {
    background: #000;
}

#fundo {
    width: 440px;
    height: 200px;
    background: #999;
    border: outset 5px #ccc;
    position: relative;
    text-align: center;
    margin: auto;
    top: 50px;
}

#grade {
    width: 400px;
    height: 80px;
    background: #fff;
    position: relative;
    left: 15px;
    top: 5px;
    border: inset 5px #333;
}

#escala {
    width: 400px;
    height: 50px;
    position: absolute;
    margin-top: 20px;
    background-image: url("../img/escala.png");
}

#ponteiro {
    width: 20px;
    height: 40px;
    position: absolute;
    left: 13px;
    top: 7px;
    background-image: url("../img/ponteiro.png");
}

button {
    padding: 0 20px;
    background: linear-gradient(top, #a3a3a3, #000);
    background: -moz-linear-gradient(top, #a3a3a3, #000);
    background: -webkit-linear-gradient(top, #a3a3a3, #000);
}

#saida {
    
}